[run]
omit = *migrations*
       *test*
       *templates*
       user/exceptions.py
       manage.py
       hermes/wsgi.py
       hermes/runners.py
       scheme/admin.py
       common/admin.py
branch = True

[report]
fail_under = 85
