[run]
omit = *migrations*
       *test*
       *templates*
       payment_card/admin.py
       ubiquity/admin.py
       user/admin.py
       scheme/admin.py
       common/admin.py
       hermes/tasks.py
       payment_card/tasks.py
       ubiquity/tasks.py
       user/exceptions.py
       hermes/wsgi.py
       hermes/runners.py
       hermes/middleware.py
       ubiquity/influx_audit.py
       manage.py
       setup.py
branch = True

[report]
fail_under = 85
