*.pyc
.python-version
.idea
aes
.pytest_cache/
.vscode/
*.ipynb
.coverage
static
media
.env
.env_*
__pychache__
.cache
venv/
.DS_Store
celerybeat-schedule
/celerybeat.pid
/my_channels.json
hermes_template.sql
.decomission_logs.log
tokens.csv
failed_redacts_details.csv
failed_tokens_list.csv
.venv
dist
