[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
arrow = "==0.7.0"
django-anymail = "==0.10"
django-bulk-update = "==2.1.0"
django-colorful = "==1.1.0"
django-cors-headers = "==2.4.0"
django-mail-templated = "==2.6.2"
djangorestframework = "==3.7.7"
fake-factory = "==0.5.9"
hashids = "==1.1.0"
httpretty = "==0.8.14"
psycopg2 = "==2.7.4"
pycryptodome = "*"
requests = "==2.19.1"
requests-oauthlib = "==0.5.0"
django-admin-env-notice = "==0.1.4"
storages = {git = "https://github.com/BackwardSpy/django-storages.git",ref = "1.7"}
azure-storage-blob = "==1.1.0"
django-redis = "==4.9.0"
redis = "==2.10.6"
dictfilter = "==1.1.2"
influxdb = "==5.2.0"
celery = "==4.2.1"
Django = "==1.11.7"
factory_boy = "==2.5.2"
Pillow = "*"
PyJWT = "==1.6.4"
PyYAML = "==3.11"
sentry-sdk = "*"
