[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[[source]]
name = "azure"
url = "https://:lkzedq5xrttrobhxf6liuqefz4pzb5hp6m6wnjygjr5qhqo4phua@pkgs.dev.azure.com/binkhq/_packaging/binkhq/pypi/simple/"
verify_ssl = true

[requires]
python_version = "3.11"

[dev-packages]
faker = "*"
httpretty = "==1.0.5"
fakeredis = "*"
flake8 = "<6"
coverage = "*"
xenon = "*"
isort = "*"
mypy = "*"
pytest = "*"
pytest-django = "*"
ptpython = "*"
black = "*"
tomli = "*"
ipython = "*"

[packages]
arrow = "*"
django-anymail = "*"
django-bulk-update = "*"
django-colorful = "*"
django-cors-headers = "*"
django-mail-templated = "*"
djangorestframework = "*"
hashids = "*"
pycryptodome = "*"
requests = "*"
requests-oauthlib = "*"
django-admin-env-notice = "*"
django-redis = "*"
redis = "*"
dictfilter = ">=2.0.1"
influxdb = "*"
celery = "*"
factory_boy = "*"
Pillow = "*"
PyJWT = ">=2.5.0,!=2.6.0"
PyYAML = "*"
sentry-sdk = "*"
tenacity = "*"
shared-config-storage = {version = "*", index = "azure"}
psycopg2-binary = "*"
mozilla-django-oidc = "*"
django-prometheus = "*"
django-admin-rangefilter = "*"
django-storages = {extras = ["azure"], version = "*"}
cryptography = "*"
gunicorn = "*"
cached-property = "*"
rusty-jeff = {version = "*", index = "azure"}
paramiko = "*"
dj-database-url = "*"
azure-identity = "*"
azure-keyvault-secrets = "*"
django = "<5"
tzdata = "*"
whitenoise = "*"
azure-storage-blob = "*"
olympus-messaging = {version = "*", index = "azure"}
python-decouple = "*"
bink-logging-utils = {extras = ["gunicorn"], version = ">=1.4.0", index = "azure"}
cosmos-message-lib = {version = ">=2.0.0",  index = "azure"}
tqdm = "*"
