[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==1.11.7"
djangorestframework = "==3.7.7"
arrow = "==0.7.0"
blinker = "==1.4"
decorator = "==4.0.2"
django-anymail = "==0.10"
django-bulk-update = "==2.1.0"
django-colorful = "==1.1.0"
django-cors-headers = "*"
django-mail-templated = "==2.6.2"
graypy = "==0.2.12"
hashids = "==1.1.0"
ipdb = "==0.8.1"
ipython = "==4.0.0"
oauthlib = "==1.0.3"
"path.py" = "==8.1.1"
pexpect = "==3.3"
pickleshare = "==0.5"
pycrypto = "==2.6.1"
python-dateutil = "*"
raven = "==6.0.0"
requests = "*"
requests-oauthlib = "==0.5.0"
simplegeneric = "==0.8.1"
six = "==1.10.0"
traitlets = "==4.0.0"
django-admin-env-notice = "==0.1.4"
azure-storage-blob = "==1.1.0"
ipython_genutils = "==0.1.0"
Pillow = "==2.9.0"
PyJWT = "==1.4.0"
PyYAML = "==3.11"
"psycopg2-binary" = "*"
django-storages = {git = "https://github.com/BackwardSpy/django-storages.git", ref = "1.7"}
django-redis = "*"
drf-yasg = "*"
influxdb = "*"
dictfilter = ">=1.1.2"

[dev-packages]
factory_boy = "==2.5.2"
httpretty = "==0.8.14"
fake-factory = "==0.5.9"
coverage = "==4.0.1"
django-coverage = "*"
"flake8" = "*"
tblib = "*"
xenon = "*"
