arrow==0.7.0
blinker==1.4
decorator==4.0.2
Django==1.11.7
django-anymail==0.10
django-bulk-update==2.1.0
django-colorful==1.1.0
django-cors-headers==2.4.0
django-mail-templated==2.6.2
djangorestframework==3.7.7
django-rest-swagger==2.1.2
factory-boy==2.5.2
fake-factory==0.5.9
graypy==0.2.12
hashids==1.1.0
httpretty==0.8.14
ipdb==0.8.1
ipython==4.0.0
ipython-genutils==0.1.0
oauthlib==1.0.3
path.py==8.1.1
pexpect==3.3
pickleshare==0.5
Pillow==2.9.0
psycopg2==2.7.4 --no-binary=psycopg2
pycrypto==2.6.1
PyJWT==1.6.4
python-dateutil==2.7.3
PyYAML==3.11
raven==6.0.0
requests==2.19.1
requests-oauthlib==0.5.0
simplegeneric==0.8.1
six==1.10.0
traitlets==4.3.2
django-admin-env-notice==0.1.4
git+https://github.com/BackwardSpy/django-storages.git@1.7#egg=storages
azure-storage-blob==1.1.0
django-redis==4.9.0
redis==2.10.6
drf-yasg==1.10.0
dictfilter==1.1.2
influxdb==5.2.0
celery==4.2.1
ddtrace==0.15.0

